//BODY
body {
	background-color: $color-primary-1;
}

//HEADER
.site-header .site-header-bg{
	background-color: $color-secondary-1-1;
}

//ICONS
.social-icon{
	width: 50px;
	text-align: center;
}
.social-icon-in {
	margin: 0 11px;
	&.linkedin,
	&.github{
		background-color: $color-secondary-1-4;
	}
	&.bug {
		background-color: white;
		border: 1px solid $color-secondary-1-4;

		i {
			color: $color-secondary-1-4;
		}
	}
}
