//BODY
body {
	background-color: $color-primary-1;
}

//HEADER
.site-header {
	.site-header-bg{
		background-color: $color-secondary-1-1;
	}
	.site-header-content .site-description {
	    color: $color-secondary-2-2;
	}
}

//ICONS
.social-icon{
	width: 50px;
	text-align: center;
}
.social-icon-in {
	margin: 0 11px;
	&.linkedin,
	&.github{
		background-color: $color-secondary-1-4;
	}
	&.bug {
		background-color: white;
		border: 1px solid $color-secondary-1-4;

		i {
			color: $color-secondary-1-4;
		}
	}
}

//LINKS
a {
  color: $color-secondary-1-4;
}
a:visited {
  color: $color-secondary-1-4;
}
a:hover,
a:focus,
a:active {
  color: $color-secondary-1-4-hover;
}
.post-bottom a:hover,
.post-bottom a:link:hover {
  color: $color-secondary-1-4-hover;
}
.posts-navigation a,
.posts-navigation a:link,
.post-navigation a,
.post-navigation a:link {
	color: white;
  background-color: $color-secondary-1-4;
}

.posts-navigation a:hover,
.posts-navigation a:visited,
.posts-navigation a:link:hover,
.posts-navigation a:link:visited,
.post-navigation a:hover,
.post-navigation a:visited,
.post-navigation a:link:hover,
.post-navigation a:link:visited {
  background-color: $color-secondary-1-4-hover;
}
.link-inherit a:hover,
.site-footer .site-info a:hover,
.main-navigation a:hover,
.widget a:hover,
.link-inherit a:visited,
.site-footer .site-info a:visited,
.main-navigation a:visited,
.widget a:visited,
.link-inherit a:link:hover,
.site-footer .site-info a:link:hover,
.main-navigation a:link:hover,
.widget a:link:hover,
.link-inherit a:link:visited,
.site-footer .site-info a:link:visited,
.main-navigation a:link:visited,
.widget a:link:visited {
  color: $color-secondary-1-4-hover;
}
//TITLE
.hentry .entry-title:after{
	background-color: $color-primary-0;
}
.widget .widgettitle,
.widget .widget-title {
  border-left-color: $color-primary-0;
}

//TITLE LINKS
.timeline-list .hentry .entry-title:after{
	background-color: $color-secondary-1-4;
}
//TIMELINE
.timeline-loader-icon {
	color: $color-secondary-2-0;
}
.timeline-header-inner {
	background-color: $color-primary-0;
	border-width: 2px;
}

//TEXT SELECTION
::-moz-selection {
  /* Code for Firefox */
  background: $color-secondary-2-2;
}
::selection {
	background: $color-secondary-2-2;
}
