.sr-only,
.amcharts-chart-div > a {//screen reader only
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//GENERIC
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 0.9rem;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
p {
  margin-bottom: 0.5rem;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

//HEADER
.site-header {
  height: 5rem;

  .site-header-bg {
    background-position: center -7rem !important;
    background-size: 100% auto;
  }

  .site-header-content {

  	.site-branding {
      margin-bottom: 0.5rem;
  	}

  	.site-title {
  	    font-size: 3rem;
  			line-height: 1.5;
  	}

  	.site-description {
  	    font-size: 1.5rem;
  	}

  }
}

//WIDGET LIST DISPPLAY
.sidebar-content .widget {
  margin: 0 0 2rem 0;

  &:last-of-type{
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 360px !important;
  }

  ul {
    margin: 0;
  }

  li {
    padding: 0.5rem 0;

    &:first-of-type {
      padding-top: 0;
    }

    .sub-menu {
      border-top-width: 0;
      li {
        border-width: 0;

        &:first-of-type {
          padding-top: 0.5rem;
        }
      }
    }
  }
}

//SIDEBAR ON ELEMENTS
.sidebar-right {
  .main-content {
    margin-right: 0;
  }
}

//FULL width
.container {
  margin: 0 auto;
  padding: 0 20px;
  /*width: auto;*/
}

//ENTRY TITLE
.hentry .entry-header {
  padding: 20px 0 0 0;
  .entry-title {
    padding: 0;
    margin: 0 0 1rem 0;
  }
}

//TIMELINE
.timeline-line {
	width: 3px;
}
//... tbf
.timeline-2-columns .timeline-list .hentry {
    width: 100%;
}

//TIMELINE LISTING
.timeline-list .hentry .entry-media a img{
	text-align: center;
	margin: 0 auto;
  max-height: 250px;
  height: auto;
  width: auto;
}

//COLUMNS
.first-column-75 {
  > .wp-block-column:nth-of-type(2) {
    margin-right: 0;
    margin-left: 0;
  }
}

//LATEST POSTS
.wp-block-latest-posts__featured-image{
  height: 150px;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  text-align: center;
  .wp-post-image{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

//DISPLAY POSTS SHORTCODE
.display-posts-listing{
  article {
    padding: 0 0 3rem 0;
    margin: 0;

    &:last-of-type{
      padding: 0;
    }

    figure {
      height: 10rem;
      margin: 0 0 1rem 0;
      overflow: hidden;
      position: relative;

      img {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        max-width: none;
      }

    }

    h2 {
      margin-bottom: 0.5rem;
      padding: 0 1rem;
    }

    .excerpt {
      margin-bottom: 0.5rem;
      padding: 0 1rem 3.5rem 1rem;
      position: relative;

      .excerpt-more,
      .excerpt-more:link {
        @extend %button;
        position: absolute;
        bottom: 0;
        left: 1rem;
      }

    }

  }

}
//NAV BAR HEADER
.navbar-header {
  height: auto;
  .navbar-btn:hover {
    color: $color-secondary-1-4-hover;
  }
}
//MOBILE MAIN NAVIGATION
#site-navigation {
    border-color: $color-primary-4;
    width: 70vw;

    ul.menu {
      &> li {
        border-left: 2px solid white;
        &:hover {
          border-bottom: 1px solid #f1f1f1;
        }
        &.current-menu-item,
        &.current_page_parent {
          border-left-color: $color-secondary-1-4-hover;
        }
      }
    }
}
//SOCIAL MEDIA
.social-media {
  left: 0;
  margin: 0;
  height: 4rem;
}
//ICONS
.social-icon{
	text-align: center;
	padding-right: 1rem;

	&.home {
		padding:0.7rem 0 0 1rem;
	}
}
.social-icon-in {
	margin: 0;
	padding: 0;
	width: 2.5rem;
  height: 2.5rem;

	&.linkedin,
	&.github{
		background-color: $color-secondary-1-4;
	}
	&.bug {
		background-color: white;
		border: 1px solid $color-secondary-1-4;

		i {
			color: $color-secondary-1-4;
		}
	}
}

@include respond-to(xxs) {


}

@include respond-to(xs) {

  //SIDEBAR ON ELEMENTS
  .sidebar-right {

    .main-content{
      margin-right: 2.5641%;
    }

    .side-content {
      position: -webkit-sticky;
      position: sticky;
      top: 3.3rem;
    }

    .widget-area {
      margin-right: 0;
    }

  }

  //DISPLAY POSTS SHORTCODE
  body:not(.has-sidebar) {
    @include set-display-posts-listing;
  }

  //MAIN NAVIGATION
  #site-navigation {
    float: right;
    position: static;
    right: auto;
    width: auto;
    top: auto;
    z-index: auto;
    opacity: 1;
    box-shadow: none;
    font-size: 1rem;

    &~ .float-right:not(.home){
      display: none;
    }

    .container {
      position: static;
      width: auto;
      max-width: none;
      padding: 0;
      margin: 0;

      .menu {
        display: table;
        margin: 0;
        padding: 0;
        height: 4rem;

        .menu-item {
          display: table-cell;
          vertical-align: middle;
          float: none;
          padding: 0;
          border-width: 2px 0;
          border-color: white;

          &:hover {

          }

          &.current-menu-item,
          &.current_page_parent {
            border-bottom-color: $color-secondary-1-4-hover;
          }

          a,
          a:link {
            padding: 0.5em;
            margin: 0;

            &:hover,
            &:visited,
            &:active {
              color: $color-secondary-1-4-hover;
            }

          }
        }
      }
    }
  }

}

@include respond-to(s) {

  //TIMELINE ... tbf
  .timeline-2-columns .timeline-list .hentry {
      width: 50%;
  }

  //HEADER
  .site-header .site-header-content {
  	.site-description {
  	    font-size: 2.5rem;
  	}
  }
  //COLUMNS
  .first-column-75 {
    > .wp-block-column:first-of-type {
      max-width: 75px;
    }
    > .wp-block-column:not(:first-of-type) {
      margin-top: 1rem;
    }
    > .wp-block-column:last-of-type {
      max-width: 30px;
    }
  }

  //DISPLAY POSTS SHORTCODE
  @include set-display-posts-listing;

}

@include respond-to(xm) {
  //HEADER
  .site-header {
    height: 10rem;;
  }

}
