.sr-only {//screen reader only
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//HEADER
.site-header .site-header-content {

	.site-branding {
    margin-bottom: 20px;
	}
	.site-title {
	    font-size: 3rem;
			line-height: 1.5;
	}
	.site-description {
	    font-size: 1.2rem;
	}

}

//TIMELINE
.timeline-line {
	width: 3px;
}

//TIMELINE LISTING
.timeline-list .hentry .entry-media a img{
	text-align: center;
	margin: 0 auto;
}
