.sr-only,
.amcharts-chart-div > a {//screen reader only
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//GENERIC
//TEXT SELECTION
::-moz-selection {
  /* Code for Firefox */
  background: $color-secondary-2-2;
}
::selection {
	background: $color-secondary-2-2;
}
body {
	background-color: transparent;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 0.9rem;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
p {
  margin-bottom: 0.5rem;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
//LINKS
a,
a:visited,
a:link,
a:link:visited {
  color: $color-secondary-1-4;
}
a:hover,
a:focus,
a:active {
  color: $color-secondary-1-4-hover;
}
.post-bottom a,
.post-bottom a:link {
	color: $color-secondary-1-4;
}
.post-bottom a:hover,
.post-bottom a:link:hover {
  color: $color-secondary-1-4-hover;
}

.post-navigation a {
	@extend %button;
}

.link-inherit a:hover,
.site-footer .site-info a:hover,
.main-navigation a:hover,
.widget a:hover,
.link-inherit a:link:hover,
.site-footer .site-info a:link:hover,
.widget a:link:hover {
  color: $color-secondary-1-4-hover;
}
//HEADER
.site-header {
  height: 5rem;

  .site-header-bg {
    background-color: $color-secondary-1-1;
    background-position: center -7rem !important;
    background-size: 100% auto;
  }

  .site-header-content {

  	.site-branding {
      margin-bottom: 0.5rem;
  	}

  	.site-title {
  	    font-size: 3rem;
  			line-height: 1.5;
  	}

  	.site-description {
  	    font-size: 1.5rem;
        color: $color-secondary-2-2;
  	}

  }
}

//SIDEBAR WIDGETS  DISPPLAY
.sidebar-content {
  .sidebar-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .widget-area {
    margin: 0;
    padding: 0;
  }

  .widget {
    margin: 0 0 2rem 0;

    .widgettitle,
  	.widget-title {
  	  border-width: 0;
      font-size: 1.6rem;
      padding: 0;
  	}

    &:last-of-type{
      margin: 0;
    }

    &.widget_media_image{
      img {
        width: 100%;
        max-width: 360px !important;
      }
    }

    &.widget_recent_entries {
      ul {
        margin: 0;
      }

      li {
        padding: 0;
        border-width: 0;
      }
      a,
      a:link,
      a:visited {
        @extend %nav-link;
        font-size: 1rem;
      }
    }

    &.widget_nav_menu {

      .menu {
        margin: 0;
        width: 100%;
      }
      .menu-item {
        padding: 0;
        padding: 0;
        text-align: center;
        border: 1px solid $color-secondary-1-4-hover;
        margin: 0 0 2rem 0;

        &:last-of-type {
          margin: 0;
        }
      }
      a,
      a:link,
      a:visited {
        font-size: 1.4rem;
        display: block;
        padding: 2rem;
        text-align: center;
        color: $color-secondary-1-4-hover;

        &:hover,
        &:focus,
        &:active {
          background-color: $color-secondary-1-4-hover;
          color: white;
        }
      }
    }
  }
}

//SIDEBAR ON ELEMENTS
.sidebar-right {
  .main-content {
    margin-right: 0;
  }
}

//MAX WIDTH
.container {
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 1880px;
}

//ENTRY TITLE
#page .entry-header {
  padding: 20px 0 0 0;
  position: relative;
  .entry-title {
    padding: 0;
    margin: 0 0 2rem 0;

    &:after{
      right: auto;
      content: "";
      top: auto;
      position: static;
      width: 0;
      background-color: transparent;
      height: auto;
      left: auto;
    }
  }
}

//HENTRY
.hentry .post-middle{
	-webkit-box-shadow: none;
	box-shadow: none;
  border-radius: 0;
  padding: 0;
}

//TIMELINE
.timeline-line {
	width: 3px;
}
.timeline-loader-icon {
	color: $color-secondary-2-0;
}
.timeline-header-inner {
	background-color: $color-primary-0;
	border-width: 2px;
}

//TIMELINE LISTING
.timeline-list .hentry .entry-media a img{
	text-align: center;
	margin: 0 auto;
  max-height: 250px;
  height: auto;
  width: auto;
}

//COLUMNS
.first-column-75 {
  > .wp-block-column:nth-of-type(2) {
    margin-right: 0;
    margin-left: 0;
  }
}

//LATEST POSTS
.wp-block-latest-posts__featured-image{
  height: 150px;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  text-align: center;
  .wp-post-image{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

//DISPLAY POSTS SHORTCODE
.home .display-posts-listing{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .listing-item {
    padding: 0;
    margin: 0 10% 0 0;
    flex: 0 0 65%;

    &:last-of-type{
      padding: 0;
    }

    figure {
      height: 10rem;
      margin: 0 0 1rem 0;
      overflow: hidden;
      position: relative;

      img {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 100%;
      }

    }

    h2 {
      margin-bottom: 0.5rem;
      padding: 0;
    }

    .excerpt {
      margin-bottom: 0.5rem;
      padding: 0;

      .excerpt-more,
      .excerpt-more:link {
        @extend %nav-link;
      }
    }
  }

}
//NAV BAR HEADER
.navbar-header {
  height: auto;
  .navbar-header-inner {
    background-color: $color-secondary-1-4;
    color: white;
    padding: 0 20px;
  }
  .navbar-btn{
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 0.5rem;

    &:hover {
      background-color: $color-secondary-1-4-hover;
      color: white;
    }
  }
}
//MAIN NAVIGATION
#site-navigation {
    background-color: transparent;
}
.open-main-navigation{
  #site-navigation {
      background-color: white;
      border-color: $color-secondary-1-4;
      ul.menu {
        &> li {
          border-left: 2px solid white;
          &:hover {
            border-bottom: 1px solid #f1f1f1;
          }
          &.current-menu-item,
          &.current_page_parent {
            border-left-color: $color-secondary-1-4-hover;
          }
        }
        a,
        a:link,
        a:visited {
          color: $color-text;

          &:hover,
          &:focus {
            color: $color-secondary-1-4-hover;
          }

          &:visited,
          &:active {
            color: #9B9B9B;
          }
        }
      }
    }
}
//SOCIAL MEDIA
.social-media {
  left: 0;
  margin: 0;
  height: 4rem;
}
//ICONS
.social-icon{
	text-align: center;
	padding-right: 1rem;

	&.home {
		padding:0.7rem 0 0 1rem;
	}
}
.social-icon-in {
	margin: 0;
	padding: 0;
	width: 2.5rem;
  height: 2.5rem;

	&.linkedin,
	&.github{
		background-color: $color-secondary-1-4;
    border: 1px solid white;
	}
	&.bug {
		background-color: white;
		border: 1px solid $color-secondary-1-4;

		i {
			color: $color-secondary-1-4;
		}
	}
}

@include respond-to(xxs) {


}

@include respond-to(xs) {

  .sidebar-right {

    .main-content{
      width: auto;
      float: none;
      margin-right: 0;
    }

    .side-content {
      width: auto;
      float: none;
    }
  }

  //MAIN NAVIGATION
  #site-navigation {
    float: right;
    position: static;
    right: auto;
    width: auto;
    top: auto;
    z-index: auto;
    opacity: 1;
    box-shadow: none;
    font-size: 1rem;

    &~ .float-right:not(.home){
      display: none;
    }

    .container {
      position: static;
      width: auto;
      max-width: none;
      padding: 0;
      margin: 0;

      .menu {
        display: table;
        margin: 0;
        padding: 0;
        height: 4rem;

        .menu-item {
          display: table-cell;
          vertical-align: middle;
          float: none;
          padding: 0;
          border-width: 3px 0;
          border-color: $color-secondary-1-4;

          &.current-menu-item,
          &.current_page_parent {
            border-bottom-color: white;
          }

          a,
          a:link,
          a:visited {
            padding: 0.5em;
            margin: 0;
            color: white;

            &:hover,
            &:focus,
            &:active {
              background-color: $color-secondary-1-4-hover;
            }

          }
        }
      }
    }
  }

}

@include respond-to(s) {

  //HEADER
  .site-header .site-header-content {
  	.site-description {
  	    font-size: 2.5rem;
  	}
  }
  //COLUMNS
  .first-column-75 {
    > .wp-block-column:first-of-type {
      max-width: 75px;
    }
    > .wp-block-column:not(:first-of-type) {
      margin-top: 1rem;
    }
    > .wp-block-column:last-of-type {
      max-width: 30px;
    }
  }

  .home .display-posts-listing{

    .listing-item {
      padding: 0;
      margin: 0 auto;
      flex: 0 0 30%;
    }
  }

  //SIDEBAR WIDGET LIST DISPPLAY
  .sidebar-content {
    #secondary {
      display: flex;
      flex-wrap: nowrap;

      .widget {
        margin: 0;
      }
      .widget_recent_entries {
        flex: 3;
        position: relative;

        .widget-title {
          //white-space:nowrap;
          transform: rotate(-90deg);
          transform-origin: left;
          padding: 0;
          border-width: 0;
          position: absolute;
          top: 19rem;
          left: 2rem;
          margin: 0;
          font-size: 3rem;
          letter-spacing: 2rem;

        }
        ul {
          margin: 0 0 0 7rem;
        }
      }
      .widget_nav_menu {
        flex: 2;
      }
    }
  }

  //SIDEBAR ON ELEMENTS
  /*.sidebar-right {

    .main-content{
      width: 65.81197%;
      float: left;
      margin-right: 2.5641%;
    }

    .side-content {
      position: -webkit-sticky;
      position: sticky;
      top: 3.3rem;
      width: 31.62393%;
      max-width: 400px;
      float: left;
      margin-right: 0;
    }

    .widget-area {
      margin-right: 0;
    }

  }*/

}

@include respond-to(xm) {
  //HEADER
  .site-header {
    height: 10rem;;
  }

}
@include respond-to(l) {
  /*.sidebar-right {

    .main-content{
      width: calc(100% - 2.5641% - 400px);
    }

  }*/

}
