//PLACEHOLDERS DEFINTIONS
%button {

  &,
  &:link,
  &:visited {
    display: inline-block;
    background-color: $color-secondary-1-4;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-secondary-1-4-hover;
    }
  }
}

%nav-link {

  &,
  &:link,
  &:visited {
    display: block;
    margin: 1.4rem;
    position: relative;
    color: $color-text;

    &:before {
      content: "\f3d6";
      display: inline-block;
      font-family: "Ionicons";
      left: -1.4rem;
      position: absolute;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-secondary-1-4-hover;
    }
  }
}
