//PLACEHOLDERS DEFINTIONS
%button {

  &,
  &:link,
  &:visited {
    display: inline-block;
    background-color: $color-secondary-1-4;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-secondary-1-4-hover;
    }
  }
}
