.hentry .post-middle{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.itl_shadow,
.itl-block,
.navbar-header .navbar-header-inner,
.site-footer,
.main-navigation,
.site-navigation ul.menu ul,
.timeline-avatar,
.open-sidebar .sidebar-fixed,
.sidebar-content .sidebar-inner,
.comments-area {
  -webkit-box-shadow: 0 4px 14px 0 $rgba-primary-0-alpha-01;
  box-shadow: 0 4px 14px 0 $rgba-primary-0-alpha-01;
}
