//HEADER
.site-header .site-header-content {

	.site-branding {
    margin-bottom: 20px;
	}
	.site-title {
	    font-size: 3rem;
			line-height: 1.5;
	}
	.site-description {
	    font-size: 1.2rem;
	}

}

//TIMELINE
.timeline-line {
	width: 3px;
}
